/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/downloads/*.*
/storage/*.key
/storage/backups/
/vendor
/config/rheybrook-marketing-1fb09c3c23a5.json
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
